*{
    font-family: 'Playfair Display', serif;
}

body{
    width: 100%;
    background-color: rgb(53, 53, 53);
}


nav{
    text-align: center;
    background-color: rgb(189, 189, 189);
}

h1,h2,h3,h4{
    margin: 15px;
}

h3{
    text-align: center;
    color: rgb(201, 201, 201);
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 0px;
}

h4{
    text-align: center;
    color: rgb(145, 145, 145);
    margin: 0px;
}

a{
    margin-top: 20px;
    font-size: 1.3em;
}

hr{
    width: 80%;
    margin-top: 2px;
}

p,li{
    color: #cecece;
    text-align: justify;
}


ul>p{
    margin-top: 0%;
}
ul>ul>li{
    font-size: 18px;
}

iframe{
    width: 720px;
    height: 405px;
}
em, dd{
    font-family: 'Playfair Display', sans-serif;
    color: #888888
}

dd{
    text-align: justify;
    margin-bottom: 10px;
}
pre{
    text-align: center;
    color: #cecece;
}

.banner,.banner1,.banner2,.banner3,.banner4,.banner5{
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner{
    background-image: url( https://lallavedeplatablog.files.wordpress.com/2017/10/banner.jpeg?w=1256&#038;h=416&#038;crop=1 );
}

.banner1{
    /**illustration for "The Oblong Box' by Douglas Percy.
    https://vignette.wikia.nocookie.net/literature/images/8/8a/OblongBoxDouglasPercy.jpg/revision/latest/scale-to-width-down/400?cb=20171022060020**/
    background-image: url(../img/lacaja.jpg)
}

.banner2{
    /**https://i.ytimg.com/vi/bjip6Prhh9I/mqdefault.jpg**/
    background-image: url(../img/elhombre.jpg)
}

.banner3{
    /**http://1.bp.blogspot.com/-NAkAVe5vUOU/UvGdlY1EFkI/AAAAAAACR24/1i5pgpgGieo/s1600/30_harryclarke.jpg**/
    background-image: url(../img/lacita.jpg)
}
.banner4{
    /**https://vignette.wikia.nocookie.net/marvel_dc/images/3/31/In_the_Shadow_of_Edgar_Allan_Poe_Textless.jpg/revision/latest?cb=20150324175607**/
    background-image: url(../img/sombra.jpg)
}

.banner5{
    /**http://1.bp.blogspot.com/-uTxNcOHG5I4/TgDneHRihVI/AAAAAAAAAVo/v7LKrXZLKYY/w1200-h630-p-k-no-nu/3564883602_89133e43c8_o.jpg**/
    background-image: url(../img/eleonora.jpg)
}

.titulo-container{
    position: relative;
    text-align: center;
}

.titulo{
    position: relative;
    background-color: #000;
    opacity: 0.8;
    color: white;
    width: 400px;
    margin-top: 100px;
    padding: 10px;
    display: inline-block;
    padding: 1.7em;
}

.btn{
    display: inline-block;
    width: auto;
    height: 25px;
    font-weight: bold;
    margin: 10px 25px 10px 25px;
    color: rgb(58, 58, 58);
    border: 10px;
    text-align: right;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    
}

.btn:hover,.btn:active{
    color: rgb(236, 236, 236);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.pie{
    margin: 50px;
}

.content{
    margin: 0px 160px 0px 160px;
}

.nav-interno{
    background-color: #888888;
    color: #000000;
}

#imagen{
    float: left;
    width: 20%;
    margin-right: 15px;
    box-shadow: 3px 3px #e7e7e7;
}

#video, #texto-centrado{
    text-align: center;
    position: relative;
}

#first-li{
    color: #cecece;
    margin-bottom: 0%;
    font-size: 20px;
}
#primer-letra{
    font-weight: bold;
    color: #cecece;
    font-size: 50px;
    margin-right: 5px;
    font-style: italic;
    text-shadow: 3px 3px #000000;
}

#p-derecha{
    text-align: right;
    margin-top: 16px;
    margin-bottom: 0px;
}

#enlace{
    font-size: 17px;
    color: #cecece;
    margin: 0px;
}

#glosario{
    height: 660px;
}

#glo-izquierda{
    float: left;
    width: 500px;
}

#glo-derecha{
    float: right;
    width: 500px;
}
